<nav id="topnav" class="navbar-fixed-top navbar-transparent">
	<div class="container">
		<a class="logo" href="/">
			noSQL
		</a>
		<div class="menu-extras">
			<div class="menu-item">
				<a class="navbar-toggle">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
		<div id="navigation">
			<ul class="navigation-menu">
				<li>
					<a href="/">Главная страница</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section class="bg-half bg-light d-table w-100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="title-heading text-center mt-4">
					<img src="/assets/img/compare.png" alt="" height="250">
					<h1 class="heading mb-3 mt-5">Сравнение баз данных SQL (реляционных) и NoSQL (нереляционных)</h1>
					<p class="para-desc mx-auto text-muted">Launch your campaign and benefit from our expertise on
						designing and managing conversion centered bootstrap4 html page.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="section-title text-center mb-4 pb-2">
					<h2 class="mb-4">Что такое реляционные и нереляционные базы данных</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-5 col-md-6 mt-4 pt-2">
				<img src="/assets/img/tables-relationships.svg" alt="">
			</div>
			<div class="col-lg-7 col-md-6 mt-4 pt-2">
				<div class="section-title ml-lg-5">
					<h4 class="title mb-4">SQL</h4>
					<p class="text-muted"><strong>Реляционная база данных (SQL)</strong> — база, где данные хранятся в формате таблиц, они
						строго структурированы и связаны друг с другом. В таблице есть строки и столбцы, каждая строка
						представляет отдельную запись, а столбец — поле с назначенным ей типом данных. В каждой ячейке
						информация записана по шаблону.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-100 mt-60">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-7 col-md-6 mt-4 pt-2">
				<div class="section-title ml-lg-5">
					<h4 class="title mb-4">NoSQL</h4>
					<p class="text-muted"><strong>Нереляционная база данных (NoSQL)</strong> — хранит данные без четких связей друг с
						другом и четкой структуры. Вместо структурированных таблиц внутри базы находится множество
						разнородных документов, в том числе изображения, видео и даже публикации в социальных сетях. В
						отличие от реляционных БД, NoSQL базы данных не поддерживают запросы SQL.</p>
				</div>
			</div>
			<div class="col-lg-5 col-md-6 mt-4 pt-2 float-right">
				<img src="/assets/img/json-files.svg" alt="">
			</div>
		</div>
	</div>
</section>
<section class="section bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<div class="section-title mb-4 pb-2">
					<h2 class="title mb-4">Отличительные особенности</h2>
					<p class="text-muted para-desc mx-auto mb-0">Для представления общей картины давайте сравним эти два
						типа СУБД.</p>
				</div>
			</div><!--end col-->
		</div><!--end row-->
		<div class="row">
			<ul class="list-unstyled">
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Стуруктуры данных и их типы</h4>
							<p class="text-muted para mb-0">Реляционные БД используют
								строгие схемы данных, NoSQL БД допускают любой тип данных.</p>
						</div>
					</div>
				</li>
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Запросы</h4>
							<p class="text-muted para mb-0">Вне зависимости от типа лицензии, реляционные базы данных в
								той или иной мере соответствуют стандартам SQL, поэтому данные из них можно получать при
								помощи языка SQL. NoSQL БД используют специфические способы запросов к данным.</p>
						</div>
					</div>
				</li>
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Масштабируемость</h4>
							<p class="text-muted para mb-0">Оба эти типа СУБД довольно легко поддаются вертикальному
								масштабированию (т.е. увеличение системных ресурсов). Тем не менее, так как NoSQL это
								более современный продукт, именно такие СУБД предлагают более простые способы
								горизонтального масштабирования (т.е. создание кластера из нескольких машин).</p>
						</div>
					</div>
				</li>
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Надежность</h4>
							<p class="text-muted para mb-0">Когда дело доходит до сохранности данных и гарантии
								выполнения транзакций SQL БД по прежнему занимают лидирующие позиции.</p>
						</div>
					</div>
				</li>
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Поддержка</h4>
							<p class="text-muted para mb-0">Реляционные СУБД имеют не малую историю за плечами. Они
								очень популярны и предлагают как платные, так и бесплатные решения. При возникновении
								проблем, все же гораздо проще найти ответ, если дело касается реляционных систем, чем
								NoSQL, особенно если решение довольно сложное по своей природе (например MongoDB).</p>
						</div>
					</div>
				</li>
				<li class="mb-0">
					<div class="media features pt-4 pb-4">
						<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
							<i class="fas fa-file-chart-line"></i>
						</div>
						<div class="media-body">
							<h4 class="title">Хранение и доступ к сложным структурам данных</h4>
							<p class="text-muted para mb-0">Изначально реляционные системы предполагали работу со
								сложными структурами, именно поэтому они превосходят остальные решения по
								производительности.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="section bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<div class="section-title mb-4 pb-2">
					<h4 class="title mb-4">Сравнение языка запросов</h4>
					<p class="text-muted para-desc mx-auto mb-0">Ниже приведены несколько примеров SQL запросов и их
						сопоставления с NoSQL СУБД MongoDB.</p>
				</div>
			</div><!--end col-->
		</div><!--end row-->

		<table class="table table-striped markdown-table">
			<tbody>
			<tr>
				<th><strong>SQL</strong></th>
				<th><strong>MongoDB</strong></th>
			</tr>
			<tr>
				<td><pre><code class="sql">CREATE TABLE users (
user_id VARCHAR(20) NOT NULL,
age INTEGER NOT NULL,
status VARCHAR(10));</code></pre>
				</td>
				<td class="txt-center"><strong>Not Required</strong></td>
			</tr>
			<tr>
				<td><pre><code class="sql">INSERT INTO users(user_id, age, status)
VALUES ('bcd001', 45, "A");</code></pre>
				</td>
				<td><pre><code class="javascript">db.users.insert({
  user_id: "bcd001",
  age: 45,
  status: "A"
})</code></pre>
				</td>
			</tr>
			<tr>
				<td><pre><code class="sql">SELECT *
FROM users;</code></pre>
				</td>
				<td>
					<pre><code class="javascript">db.users.find()</code></pre>
				</td>
			</tr>
			<tr>
				<td><pre><code class="sql">UPDATE users
SET status = 'C'
WHERE age &gt; 25;</code></pre>
				</td>
				<td><pre><code class="javascript">db.users.update(
    { age: { $gt: 25 } },
    { $set: { status: "C" } },
    { multi: true }
)</code></pre>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
<script src="/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad()</script>
