<nav id="topnav" class="navbar-fixed-top navbar-transparent">
	<div class="container">
		<a class="logo" href="/">
			noSQL
		</a>
		<div class="menu-extras">
			<div class="menu-item">
				<a class="navbar-toggle">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
		<div id="navigation">
			<ul class="navigation-menu">
				<li>
					<a href="/">Главная страница</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section class="bg-half bg-light d-table w-100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="title-heading text-center mt-4">
					<h1 class="heading mb-3 mt-5">История появления</h1>
					<p class="para-desc mx-auto text-muted">Краткая история баз данных NoSQL: происхождение термина<br/>и причины появления.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section border-bottom">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-5 col-md-6 mt-4 pt-2">
				<img src="/assets/img/nosql.svg" alt="" height="300">
			</div>
			<div class="col-lg-7 col-md-6 mt-4 pt-2">
				<div class="section-title ml-lg-5">
					<h2 class="title mb-4">Происхождение термина</h2>
					<p class="text-muted">Термин NoSQL стал использоваться в конце 90-х, но реальный смысл в том виде, как он используется
						сейчас, приобрел только в середине 2009 года. Изначально так называлась опенсорсная база данных,
						созданная Карло Строззи, которая хранила все данные как <span
								class="text-primary font-weight-bold">ASCII</span> файлы и использовала шелловские
						скрипты вместо <span class="text-primary font-weight-bold">SQL</span> для доступа к данным.
						Термин “NoSQL” имеет абсолютно стихийное происхождение
						и не имеет общепризнанного определения или научного учреждения за спиной. Это название скорее
						характеризует вектор развития ИТ в сторону от реляционных баз данных. Расшифровывается как Not
						Only SQL, хотя есть сторонники и прямого определения No SQL.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<div class="section-title mb-4 pb-2">
					<h2 class="title mb-4">Причины появления</h2>
					<p class="text-muted para-desc mb-0 mx-auto">
						Описание причин появления нереляционных баз данных.
					</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<ul class="list-unstyled">
					<li class="mb-0">
						<div class="media features pt-4 pb-4">
							<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
								<i class="fas fa-sort-amount-up"></i>
							</div>
							<div class="media-body">
								<h4 class="title">Первый тренд — увеличение объемов хранимых данных</h4>
								<p class="text-muted para mb-0">Сегодня хранилища достигли таких невероятных размеров,
									что даже трудно себе представить. Только за 2009 и 2010 годы в базах было сохранено
									больше информации, чем за всю предыдущую историю человечества.</p>
							</div>
						</div>
					</li>
					<li class="mb-0">
						<div class="media features pt-4 pb-4">
							<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
								<i class="fas fa-compress-alt"></i>
							</div>
							<div class="media-body">
								<h4 class="title">Второй тренд — взаимосвязанность данных</h4>
								<p class="text-muted para mb-0">Информация перестала быть изолированной. Каждый кусочек
									знаний как-то связан с данными в других хранилищах информации. Страницы в интернете
									ссылаются на другие страницы. Тэги связывают помеченную информацию из разных
									источников. Онтологии устанавливают взаимосвязи между различными терминами, и
									тд.</p>
							</div>
						</div>
					</li>
					<li class="mb-0">
						<div class="media features pt-4 pb-4">
							<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
								<i class="fas fa-file-invoice"></i>
							</div>
							<div class="media-body">
								<h4 class="title">Третий тренд — использование слабоструктурированной информации</h4>
								<p class="text-muted para mb-0">Возьмем простой пример: описание товара в магазине. Если
									раньше было достаточно 5-6 полей, чтобы описать мужскую сорочку (размер, цвет,
									материал, фотография товара, …), то теперь количество параметров может доходить до
									нескольких десятков. Причем, для разных сорочек будет использован разный набор
									параметров. В таких условиях становится крайне сложно заранее определить структуру
									таблицы, в которой хранится описание товара.</p>
							</div>
						</div>
					</li>
					<li class="mb-0">
						<div class="media features pt-4 pb-4">
							<div class="icon text-center rounded-circle text-primary mr-3 mt-2">
								<i class="fas fa-server"></i>
							</div>
							<div class="media-body">
								<h4 class="title">Четвертый тренд — архитектура</h4>
								<p class="text-muted para mb-0">В 80-х годах прошлого века типичная архитектура
									использовала один большой компьютер (mainframe) и одну базу данных. В 90-х,
									распространение получила клинт-серверная архитектура. В новом веке активно
									используются web-сервисы, каждый со своим backend-ом (грубо говоря, со своей базой
									данных) и другие распределенные решения.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>