<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>{{title}} - Нереляционные базы данных</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="NoSQL technology">
	<meta name="keywords" content="NoSQL, Database">
	<meta content="Shreethemes" name="author">
	<!-- Favicon -->
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css" type="text/css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/highlight.css" type="text/css">
	<!-- Icons -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body data-spy="scroll">
{{{ body }}}
<footer class="text-center py-3 border-top">
	<div class="copyright">
		&copy;
		<script>
			document.write(new Date().getFullYear())
		</script>
		Danil Vorozheykin
	</div>
</footer>
<!--<a href="#" class="btn btn-icon btn-soft-primary back-to-top"><img src="/assets/img/arrow-up.svg" class="arrow-up"
		style="filter: invert(1);" alt=""></a>-->
<a href="#" if="scroll-to-top" class="btn btn-icon btn-soft-primary back-to-top"><i class="fas fa-arrow-up"></i></a>
<script src="/assets/js/jquery.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>
<html>